{% extends 'layouts/base.html' %}

{% block content %}
<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eum similique consectetur debitis earum! Nihil facilis magnam sunt? Ipsam rem harum eaque earum, dolores provident tempore maxime doloribus iusto eligendi est! Dolor, ratione praesentium voluptas accusamus hic totam magnam assumenda culpa fugit blanditiis itaque in quos ipsum est ipsa cum cumque omnis quod pariatur dolorum reprehenderit mollitia repellendus. Incidunt sequi dolores, nemo pariatur, neque perferendis accusantium asperiores tempora distinctio praesentium qui. Deleniti ea voluptatibus, aperiam nostrum quidem cupiditate minus esse tempora vero velit praesentium eligendi? Itaque nihil, dignissimos tempora, esse sint debitis omnis ipsam minus impedit neque, porro nesciunt molestiae! {{ username }} </p>

{% endblock %}
